In [10]:
import pandas as pd
import numpy as np

In [11]:
# SERIES - 1 dim array of labeled data

In [12]:
pd.Series(['A','B','C'])

0    A
1    B
2    C
dtype: object

In [13]:
# Dataframe â€“ 2 dim array of labeled data

In [14]:
df = pd.DataFrame({
    'Name': ['Yossi', 'Anna', 'Alex'],
    'Color': ['Red', 'Blue', 'Yellow'],
    'Random': [10.0, np.nan, np.nan]
})

In [15]:
df

    Name   Color  Random
0  Yossi     Red    10.0
1   Anna    Blue     NaN
2   Alex  Yellow     NaN

In [16]:
df['Random']

0    10.0
1     NaN
2     NaN
Name: Random, dtype: float64

In [17]:
# CSV file

In [20]:
df.to_csv('data', index=False)

# Exercise 1

In [27]:
fruits = pd.Series({
    'Apples': 20,
    'Bananas': 30,
    'Cherries': 15,
    'Dates': 10
})

In [28]:
fruits

Apples      20
Bananas     30
Cherries    15
Dates       10
dtype: int64

In [35]:
fruits_new = pd.DataFrame({
   "Quantity": [20, 30, 15, 10],
   "Color": ['Red', 'Yellow', 'Red', 'Brown'],
   "Price per kg": [3, 2, 5, 5]
}, index=["Apples", "Bananas", "Cherries", 'Dates'])

In [36]:
fruits_new

          Quantity   Color  Price per kg
Apples          20     Red             3
Bananas         30  Yellow             2
Cherries        15     Red             5
Dates           10   Brown             5

In [50]:
fruits_new.to_csv('store_1_stock.csv', index=True)

In [51]:
store_1_stock = pd.read_csv('store_1_stock.csv', index_col = 0)

In [52]:
store_1_stock

          Quantity   Color  Price per kg
Apples          20     Red             3
Bananas         30  Yellow             2
Cherries        15     Red             5
Dates           10   Brown             5