In [1]:
import pandas as pd
import numpy as np

# Read the dataframe

In [3]:
df = pd.read_csv('store_1_stock.csv', index_col=0)

In [5]:
df.head(2) # first 2 rows

         Quantity   Color  Price per kg
Apples         20     Red             3
Bananas        30  Yellow             2

In [6]:
df.tail(2) # last 2 rows

          Quantity  Color  Price per kg
Cherries        15    Red             5
Dates           10  Brown             5

In [8]:
df.info() # basic info

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Apples to Dates
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Quantity      4 non-null      int64
 1   Color         4 non-null      object
 2   Price per kg  4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 128.0+ bytes

In [9]:
df.describe()

        Quantity  Price per kg
count   4.000000          4.00
mean   18.750000          3.75
std     8.539126          1.50
min    10.000000          2.00
25%    13.750000          2.75
50%    17.500000          4.00
75%    22.500000          5.00
max    30.000000          5.00

# Indexing dataframe

In [13]:
df.loc['Dates']

Quantity           10
Color           Brown
Price per kg        5
Name: Dates, dtype: object

In [14]:
df.iloc[0]

Quantity         20
Color           Red
Price per kg      3
Name: Apples, dtype: object

In [15]:
df[0:3]

          Quantity   Color  Price per kg
Apples          20     Red             3
Bananas         30  Yellow             2
Cherries        15     Red             5

In [16]:
df['Quantity'].sum()

75

In [17]:
df.describe()

        Quantity  Price per kg
count   4.000000          4.00
mean   18.750000          3.75
std     8.539126          1.50
min    10.000000          2.00
25%    13.750000          2.75
50%    17.500000          4.00
75%    22.500000          5.00
max    30.000000          5.00

In [20]:
df.nlargest(3, 'Price per kg')

          Quantity  Color  Price per kg
Cherries        15    Red             5
Dates           10  Brown             5
Apples          20    Red             3

In [35]:
df.loc['Bananas', 'Quantity']

30

In [37]:
df.iloc[1][0]

30

In [ ]:
df.add